:root{
	--cor1: #0091F1;
	--cor2: #0096FA;
	--cor3: #007CCF;
	--cor4: #0068AD;
	--cor5: #00548B;
	--cor6: #003F69;
	--branco: #fff;
	--preto: #000;

	--roxo1: #4607FA;


}

body {
    font-family: "Noto Sans Khudawadi", "Noto Sans Khudawadi", sans-serif;
    font-size: 1.1em;
	background: #020024;
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}


#menu{
	background-color: var(--cor4);
	padding: 2rem;
	color: var(--preto);
}

a.menu{
	color: var(--preto);
    text-decoration: none;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 6px;


}


a.menu:hover {
    background-color: var(--roxo1);
    color: var(--corBranca);
	transition: 1s;
	

}

div.gridSobre{
	margin-top: 12rem;
}


p.sobre{
	color: var(--branco);
	font-family: "Kanchenjunga", sans-serif;
}



img.foto{	
	width: 400px;
	border-radius: 20px;
	
}



p.formacao{
	color: var(--branco);
	font-family: "Kanchenjunga", sans-serif;

}

h1.cabecalho{
	color: var(--branco);
	font-family: "Kanchenjunga", sans-serif;
	font-weight: bold;
}

img.formacao{
	width: 400px;
	
}


div.gridFormacao{
	margin-top: 13rem;
}

img.carrosel{
	padding-left: 40%;
}

div.styleAcordion{
	margin-top: 5rem;
}

div.cabecalhoContato{
	color: var(--branco);
	font-family: "Kanchenjunga", sans-serif;
	font-weight: bold;
}

button.botao{
	max-width: 9rem;
	display: flex;
	justify-content: center;
	margin-top: 0.25rem;
	margin-left: 0.75rem;
	margin-bottom: 2rem;
}

button.botao:hover{
	background-color: var(--cor6);
	transition: 0.5s;
}

.scroll {
    scroll-margin-top: 200px;
}

